<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <link href="https://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <!-- Above is a short hand for the below line. -->
        <!-- http://htmldog.com/guides/html/intermediate/metatags/ -->
        <!-- <meta http-equiv="content-type" content="text/html; charset=utf-8"> -->

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

        <!-- No referrer: https://webbkoll.dataskydd.net/en/ -->
        <meta name="referrer" content="no-referrer">

        <title>
            {{ if (eq .Kind "home") }}
                {{ site.Title }}
            {{ else if (eq .Kind "taxonomy") }}
                {{ printf "%s ‘%s’ ❚ %s" (.Data.Singular | title) .Data.Term site.Title }}
            {{ else }}
                {{ printf "%s ❚ %s" .Title site.Title }}
            {{ end }}
        </title>
        <!-- view-source:http://bettermotherfuckingwebsite.com/ -->
        <style>
         body {
             margin: 40px auto;
             max-width: 650px;
             line-height: 1.6;
             font-size: 18px;
             color: #444;
             padding: 0 10px;
         }
         h1, h2, h3 {
             line-height: 1.2;
         }
         .masthead-title {
             font-size: 40px;
             font-weight: bold;
         }
         .masthead-title a {
             text-decoration: none;
         }
         .masthead-body {
             font-size: 0.8em;
         }
         /* Captions */
         figcaption,
         .src-block-caption,
         .table-caption {
             font-style: italic;
             text-align: center;
         }
         dt {
             font-weight: bold;
         }
         dd {
             margin-bottom: .5rem;
         }
         /* No list bullets in task lists */
         ul.task-list {
             list-style-type: none;
         }
        </style>
    </head>

    <body lang="{{ site.Language.Lang }}">
        {{ .Content }}
    </body>
</html>
